/* #region common */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --discord-primary: rgba(49, 97, 224, 1);
    --discord-secondary: rgba(35, 39, 42, 1);
    --discord-title: rgba(142, 161, 225, 1);
}

button {
    height: 40px;
    border: 1px solid black;
    padding: 0.75rem;
    border-radius: 1.5rem;
}

/* #endregion common */

/* #region header */
#header-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: var(--discord-primary);
    align-items: center;
}

ul {
    display: flex;
}

li {
    padding: 1.5rem;
    color: white;
}

/* #endregion header */

/* #region main */

main {
    display: flex;
    flex-direction: column;
}
.jumbotron {
    display: flex;
    justify-content: center;
    padding: 100px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#header-block {
    width: 500px;
    text-align: center;
    justify-content: center;
}

#space {
    display: flex;
    justify-content: center;
    margin: 30px;
}
#easy {
    display: flex;
    justify-content: center;
    margin: 30px;
}
#fandom {
    display: flex;
    justify-content: center;
    margin: 30px;
}

#space>.main-foto {
    background-color: lightskyblue;
    width: 500px;
    height: 200px;
    display: flex;
}
#easy>.main-foto {
    background-color: lightskyblue;
    width: 500px;
    height: 200px;
    display: flex;
}
#fandom>.main-foto {
    background-color: lightskyblue;
    width: 500px;
    height: 200px;
    display: flex;
}

.main-text {
    background-color: lightpink;
    width: 200px;
    height: 200px;
}

#function-showcase {
    width: 80%;
    text-align: center;
    justify-content: center;
    align-self: center;
    background-color: green;
    margin-bottom: 30px;
}

/* #endregion main */

/* #region footer */
footer {
    background-color: var(--discord-secondary);

    color: white;
}

#menu {
    display: flex;
    justify-content: space-around;
}

#subscript {
    display: flex;
    justify-content: space-around;
}

.menu-title {
    height: 200px;
    width: 150px;
    background-color: lightcyan;
    color: black;
}

ul {
    list-style: none;
}

/* #endregion footer */